<a href="https://colab.research.google.com/github/yujimurakami/python_training2/blob/master/training2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 11. データを読み込む

In [7]:
# show upload dialog
from google.colab import files
uploaded = files.upload()

Saving dump_data.csv to dump_data.csv
Saving kokyaku_daicho.xlsx to kokyaku_daicho.xlsx
Saving uriage.csv to uriage.csv

In [0]:
import pandas as pd
dump_data = pd.read_csv("dump_data.csv")
kokyaku_data = pd.read_excel("kokyaku_daicho.xlsx")
uriage_data = pd.read_csv("uriage.csv")

In [14]:
dump_data.head()

         purchase_date  ...                  登録日
0  2019-06-13 18:02:34  ...  2017-01-26 00:00:00
1  2019-07-13 13:05:29  ...  2018-04-07 00:00:00
2  2019-05-11 19:42:07  ...  2018-06-19 00:00:00
3  2019-02-12 23:40:45  ...  2018-07-22 00:00:00
4  2019-04-22 03:09:35  ...  2017-06-07 00:00:00

[5 rows x 9 columns]

In [15]:
kokyaku_data.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [16]:
uriage_data.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

### 12. データの揺れをみてみる

In [17]:
uriage_data["item_name"].head()

0      商品A
1    商 品 S
2    商 品 a
3      商品Z
4      商品a
Name: item_name, dtype: object

### 13. データに揺れがあるまま集計してみる

In [0]:
uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"])

In [0]:
uriage_data["purchase_month"] = uriage_data["purchase_date"].dt.strftime("%Y%m")

In [0]:
res = uriage_data.pivot_table(index="purchase_month", columns="item_name", aggfunc="size", fill_value=0)

In [22]:
res

item_name         商品W   商 品 n   商品E   商品M   商品P  ...  商品s  商品t  商品v  商品x  商品y
purchase_month                                   ...
201901              0       1     0     0     0  ...    0    0    0    0    0
201902              0       0     0     0     0  ...    1    1    1    0    0
201903              0       0     1     1     1  ...    0    0    0    0    0
201904              1       0     0     0     0  ...    1    0    0    0    0
201905              0       0     0     0     0  ...    0    0    0    0    1
201906              0       0     0     0     0  ...    0    0    0    1    0
201907              0       0     0     0     0  ...    0    0    0    0    0

[7 rows x 99 columns]

In [23]:
res = uriage_data.pivot_table(index="purchase_month", columns="item_name", values="item_price", aggfunc="sum", fill_value=0)
res

item_name         商品W   商 品 n   商品E   商品M   商品P  ...   商品s   商品t   商品v   商品x   商品y
purchase_month                                   ...
201901              0    1400     0     0     0  ...     0     0     0     0     0
201902              0       0     0     0     0  ...  1900  2000  2200     0     0
201903              0       0   500  1300  1600  ...     0     0     0     0     0
201904           2300       0     0     0     0  ...  1900     0     0     0     0
201905              0       0     0     0     0  ...     0     0     0     0  2500
201906              0       0     0     0     0  ...     0     0     0  2400     0
201907              0       0     0     0     0  ...     0     0     0     0     0

[7 rows x 99 columns]

### 14. 商品名の揺れを補正する

In [24]:
print(len(pd.unique(uriage_data.item_name)))

99

In [25]:
uriage_data["item_name"] = uriage_data["item_name"].str.upper()
uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ","")
uriage_data["item_name"] = uriage_data["item_name"].str.replace("  ","")
uriage_data.sort_values(by=["item_name"],ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1748 2019-05-19 20:22:22       商品A       100.0          松川綾女         201905
223  2019-06-25 08:13:20       商品A       100.0           板橋隆         201906
1742 2019-06-13 16:03:17       商品A       100.0          小平陽子         201906
1738 2019-02-10 00:28:43       商品A       100.0          松田浩正         201902
...                  ...       ...         ...           ...            ...
2880 2019-04-22 00:36:52       商品Y         NaN          田辺光洋         201904
2881 2019-04-30 14:21:09       商品Y         NaN          高原充則         201904
1525 2019-01-24 10:27:23       商品Y      2500.0         五十嵐春樹         201901
1361 2019-05-28 13:45:32       商品Y      2500.0         大崎ヒカル         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902

[2999 rows x 5 columns]

In [27]:
print(len(pd.unique(uriage_data.item_name)))

26

In [28]:
print(pd.unique(uriage_data["item_name"]))
print(len(pd.unique(uriage_data["item_name"])))

['商品A' '商品S' '商品Z' '商品V' '商品O' '商品U' '商品L' '商品C' '商品I' '商品R' '商品X' '商品G'
 '商品P' '商品Q' '商品Y' '商品N' '商品W' '商品E' '商品K' '商品B' '商品F' '商品D' '商品M' '商品H'
 '商品T' '商品J']
26

### 15. 金額欠損値の補完をしよう

In [29]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [31]:
flg_is_null = uriage_data["item_price"].isnull()
for trg in list(uriage_data.loc[flg_is_null, "item_name"].unique()):
  price = uriage_data.loc[(~flg_is_null) & (uriage_data["item_name"] == trg), "item_price"].max()
  uriage_data["item_name"].loc[(flg_is_null) & (uriage_data["item_name"] == trg)] = price
uriage_data.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1 2019-07-13 13:05:29      1900         NaN          浅田賢二         201907
2 2019-05-11 19:42:07       100         NaN          南部慶二         201905
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4 2019-04-22 03:09:35       100         NaN          平田鉄二         201904