<a href="https://colab.research.google.com/github/yujimurakami/python_training2/blob/master/training2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# show upload dialog
from google.colab import files
uploaded = files.upload()

Saving dump_data.csv to dump_data.csv
Saving kokyaku_daicho.xlsx to kokyaku_daicho.xlsx
Saving uriage.csv to uriage.csv

In [0]:
import pandas as pd
dump_date = pd.read_csv("dump_data.csv")
kokyaku_daicho = pd.read_excel("kokyaku_daicho.xlsx")
uriage = pd.read_csv("uriage.csv")

In [0]:
dump_date.head()

         purchase_date  ...                  登録日
0  2019-06-13 18:02:34  ...  2017-01-26 00:00:00
1  2019-07-13 13:05:29  ...  2018-04-07 00:00:00
2  2019-05-11 19:42:07  ...  2018-06-19 00:00:00
3  2019-02-12 23:40:45  ...  2018-07-22 00:00:00
4  2019-04-22 03:09:35  ...  2017-06-07 00:00:00

[5 rows x 9 columns]

In [0]:
kokyaku_daicho.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [0]:
uriage.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二